@page "/samples/inputs/select/overview"
@page "/samples/inputs/select-overview"
@page         "/inputs/select/overview"
@page         "/inputs/select-overview"

@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container sample center">
    <IgbSelect>
        <IgbSelectItem Value="orange">Orange</IgbSelectItem>
        <IgbSelectItem Value="appple">Apple</IgbSelectItem>
        <IgbSelectItem Value="banana">Banana</IgbSelectItem>
        <IgbSelectItem Value="mango">Mango</IgbSelectItem>
    </IgbSelect>
</div>

@code { }