@page "/samples/scheduling/calendar/range-selection"
@page "/samples/scheduling/calendar-range-selection"
@page         "/scheduling/calendar/range-selection"
@page         "/scheduling/calendar-range-selection"

@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div style="width: 25rem; border: 1px solid gainsboro;">
        <IgbCalendar Selection="@CalendarBaseSelection.Range" />
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        IgbInputModule.Register(IgniteUIBlazor);
        IgbPropertyEditorPanelModule.Register(IgniteUIBlazor);
        IgbCalendarModule.Register(IgniteUIBlazor);

    }

}